.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.text-center{
    background: transparent;
    padding: 0px;
}

body{
    background-image: url("../img/background-herostreet2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    overflow-x: hidden;
}

.card-header{
    height: 125px;
    overflow: hidden;

}

.prod-card{
    margin-bottom: 20px;
}


.btn-success{
    font-family: Rock Salt, cursive;
    background-color: rgba(0, 0, 0, 0.68);
}

.category-name{
    background-color: #b1e852;
    padding: 10px;
    margin-bottom: 5px;
}

.footer{
    background: none;
    color: white;

}

.prod-image{
    height: 100%;
    width: 100%;
}

.cart-image{
    height: 130px;
    width: auto;
    alignment: center;
}

.bg-light {
    background-color: #1f2b3899 !important;
}

.navbar-brand, .nav-link, .fa-shopping-cart{
    color:white;
}

.navbar-light .navbar-brand {

    color: white;}

.navbar-light .navbar-nav .active > .nav-link{
    color: white;
}

.navbar{
    position: fixed;
    width: 100%;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.shopping-cart {
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main-card{
    padding: 20px;
    background-color: #fff9;
}

.totalprice {
    font-size: 30px;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    text-align: right;
    padding-right: 10px;

}

#container{
    width: 100%;
}

table{
    width: 100%;
}

.h3-cart{
    background-color: #b1e852;
    margin-bottom: 10px;
    border-radius: .2em;
    text-align: center;
}
